@page
@model LoginModel

<div id="logreg-forms">
    <h1 class="h3 mb-3 font-weight-normal text-info text-center pt-4">Sign In</h1>
    @if ((Model.ExternalLogins?.Count ?? 0) == 0)
    {
        <div>
            <p>
                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else
    {
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="pb-1">
            <div>
                @foreach (var provider in Model.ExternalLogins)
                {
                    @if (provider.Name.ToLower().Contains("facebook"))
                    {
                        <button type="submit" class="btn btn-block facebook-btn form-control"
                                name="provider"
                                value="@provider.Name"
                                title="Log in using your @provider.DisplayName account">
                            <i class="fab fa-facebook-square"></i> @provider.DisplayName
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                    }
                }
            </div>
        </form>
    }


    <form id="account" method="post">
        @if (Model.ExternalLogins?.Count > 0)
        {
            <p class="text-center">OR</p>
        }
        <input asp-for="Input.Email" class="form-control mb-1" placeholder="Email" type="email"/>
        <input asp-for="Input.Password" class="form-control mb-2" placeholder="Password" type="password"/>
        <button type="submit" class="btn btn-block btn-success form-control mb-2"><i class="fas fa-sign-in-alt"></i> Log in</button>
        <a id="forgot-password" asp-page="./ForgotPassword" class="pb-2 text-info">Forgot your password?</a>
        @* Validation for ALL *@
        <div asp-validation-summary="All" class="text-danger"></div>
        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-info text-white">Register as a new user</a>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}